
.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#taskInput {
    border: 2px  solid red;
    border-radius: 30%;
}


li {
    list-style-type: none;
    ;
}